## Melbourne LGA census information

In [1]:
import pandas as pd
import numpy as np
from flask import Flask, jsonify

import requests 

# from sqlalchemy import create_engine, Table, MetaData, text, func
# from sqlalchemy.orm import Session

import pandas as pd
import numpy as np

from flask import Flask, jsonify

# engine = create_engine(f"postgresql://postgres:@localhost/melbournehousingdb")
# metadata = MetaData()
# metadata.bind = engine

In [2]:
url = f"http://127.0.0.1:5000/api/dwellings"
response = requests.get(url)
if response.status_code == 200:
        df = pd.json_normalize(response.json())

In [3]:
# Check that the df exists
df

,lga_code_2021,opds_f_ap_i_1or2_sty_blk_ds,opds_f_ap_i_3_sty_blk_dwgs,opds_f_ap_i_4to8_sty_blk_ds,opds_f_ap_i_9_m_sty_blk_ds,opds_flt_apart_tot_dwgs,opds_flt_apt_att_house_ds,opds_other_dwelling_tot_dwgs,opds_sd_r_t_h_th_1_sty_dwgs,opds_sd_r_t_h_th_2_m_sty_dwgs,opds_sd_r_t_h_th_tot_dwgs,opds_separate_house_dwellings,opds_tot_opds_dwellings,total_pds_dwellings,total_total,unoccupied_pds_dwgs
0,LGA20110,40,0,0,0,45,4,31,238,15,252,4870,5222,6661,5222,1434
1,LGA20260,4,6,0,0,12,0,28,294,8,300,4179,4541,5141,4541,602
2,LGA20570,1021,88,3,0,1121,14,126,4802,544,5344,37980,44654,48235,44654,3584
3,LGA20660,1895,476,932,299,3636,29,40,4252,3493,7746,36197,47666,51602,47666,3941
4,LGA20740,214,27,12,0,257,9,183,671,293,961,15225,16662,27496,16662,10831
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,LGA27450,245,11,0,0,313,54,216,2067,849,2919,52325,55842,59475,55842,3632
78,LGA27630,14,0,0,0,15,4,36,56,0,56,2632,2740,3389,2740,655
79,LGA29399,25,15,15,9,64,0,0,4,0,3,80,156,475,156,319
80,LGA29499,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
81,LGA29799,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [4]:
# make dwellings

dwellings_df = pd.DataFrame(df)
dwellings_df

,lga_code_2021,opds_f_ap_i_1or2_sty_blk_ds,opds_f_ap_i_3_sty_blk_dwgs,opds_f_ap_i_4to8_sty_blk_ds,opds_f_ap_i_9_m_sty_blk_ds,opds_flt_apart_tot_dwgs,opds_flt_apt_att_house_ds,opds_other_dwelling_tot_dwgs,opds_sd_r_t_h_th_1_sty_dwgs,opds_sd_r_t_h_th_2_m_sty_dwgs,opds_sd_r_t_h_th_tot_dwgs,opds_separate_house_dwellings,opds_tot_opds_dwellings,total_pds_dwellings,total_total,unoccupied_pds_dwgs
0,LGA20110,40,0,0,0,45,4,31,238,15,252,4870,5222,6661,5222,1434
1,LGA20260,4,6,0,0,12,0,28,294,8,300,4179,4541,5141,4541,602
2,LGA20570,1021,88,3,0,1121,14,126,4802,544,5344,37980,44654,48235,44654,3584
3,LGA20660,1895,476,932,299,3636,29,40,4252,3493,7746,36197,47666,51602,47666,3941
4,LGA20740,214,27,12,0,257,9,183,671,293,961,15225,16662,27496,16662,10831
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,LGA27450,245,11,0,0,313,54,216,2067,849,2919,52325,55842,59475,55842,3632
78,LGA27630,14,0,0,0,15,4,36,56,0,56,2632,2740,3389,2740,655
79,LGA29399,25,15,15,9,64,0,0,4,0,3,80,156,475,156,319
80,LGA29499,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
81,LGA29799,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [ ]:
# If there are missing values, check them:
# dwellings_df[['opds_sd_r_t_h_th_1_sty_dwgs', 'opds_flt_apt_att_house_ds']] = dwellings_df[['opds_sd_r_t_h_th_1_sty_dwgs', 'opds_flt_apt_att_house_ds']].fillna(0)

In [9]:
dwellings_df['Single Storey Total'] = dwellings_df['opds_separate_house_dwellings'] + dwellings_df['opds_sd_r_t_h_th_1_sty_dwgs'] + dwellings_df['opds_flt_apt_att_house_ds']

In [10]:
dwellings_df

,lga_code_2021,opds_f_ap_i_1or2_sty_blk_ds,opds_f_ap_i_3_sty_blk_dwgs,opds_f_ap_i_4to8_sty_blk_ds,opds_f_ap_i_9_m_sty_blk_ds,opds_flt_apart_tot_dwgs,opds_flt_apt_att_house_ds,opds_other_dwelling_tot_dwgs,opds_sd_r_t_h_th_1_sty_dwgs,opds_sd_r_t_h_th_2_m_sty_dwgs,opds_sd_r_t_h_th_tot_dwgs,opds_separate_house_dwellings,opds_tot_opds_dwellings,total_pds_dwellings,total_total,unoccupied_pds_dwgs,Single Storey,Two Storey,Single Storey Total
0,LGA20110,40,0,0,0,45,4,31,238,15,252,4870,5222,6661,5222,1434,5112,55,5112
1,LGA20260,4,6,0,0,12,0,28,294,8,300,4179,4541,5141,4541,602,4473,12,4473
2,LGA20570,1021,88,3,0,1121,14,126,4802,544,5344,37980,44654,48235,44654,3584,42796,1565,42796
3,LGA20660,1895,476,932,299,3636,29,40,4252,3493,7746,36197,47666,51602,47666,3941,40478,5388,40478
4,LGA20740,214,27,12,0,257,9,183,671,293,961,15225,16662,27496,16662,10831,15905,507,15905
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,LGA27450,245,11,0,0,313,54,216,2067,849,2919,52325,55842,59475,55842,3632,54446,1094,54446
78,LGA27630,14,0,0,0,15,4,36,56,0,56,2632,2740,3389,2740,655,2692,14,2692
79,LGA29399,25,15,15,9,64,0,0,4,0,3,80,156,475,156,319,84,25,84
80,LGA29499,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
81,LGA29799,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [11]:
dwellings_df['Two Storey Total'] = dwellings_df['opds_sd_r_t_h_th_2_m_sty_dwgs'] + dwellings_df['opds_f_ap_i_1or2_sty_blk_ds']

In [12]:
dwellings_df

,lga_code_2021,opds_f_ap_i_1or2_sty_blk_ds,opds_f_ap_i_3_sty_blk_dwgs,opds_f_ap_i_4to8_sty_blk_ds,opds_f_ap_i_9_m_sty_blk_ds,opds_flt_apart_tot_dwgs,opds_flt_apt_att_house_ds,opds_other_dwelling_tot_dwgs,opds_sd_r_t_h_th_1_sty_dwgs,opds_sd_r_t_h_th_2_m_sty_dwgs,opds_sd_r_t_h_th_tot_dwgs,opds_separate_house_dwellings,opds_tot_opds_dwellings,total_pds_dwellings,total_total,unoccupied_pds_dwgs,Single Storey,Two Storey,Single Storey Total,Two Storey Total
0,LGA20110,40,0,0,0,45,4,31,238,15,252,4870,5222,6661,5222,1434,5112,55,5112,55
1,LGA20260,4,6,0,0,12,0,28,294,8,300,4179,4541,5141,4541,602,4473,12,4473,12
2,LGA20570,1021,88,3,0,1121,14,126,4802,544,5344,37980,44654,48235,44654,3584,42796,1565,42796,1565
3,LGA20660,1895,476,932,299,3636,29,40,4252,3493,7746,36197,47666,51602,47666,3941,40478,5388,40478,5388
4,LGA20740,214,27,12,0,257,9,183,671,293,961,15225,16662,27496,16662,10831,15905,507,15905,507
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,LGA27450,245,11,0,0,313,54,216,2067,849,2919,52325,55842,59475,55842,3632,54446,1094,54446,1094
78,LGA27630,14,0,0,0,15,4,36,56,0,56,2632,2740,3389,2740,655,2692,14,2692,14
79,LGA29399,25,15,15,9,64,0,0,4,0,3,80,156,475,156,319,84,25,84,25
80,LGA29499,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
81,LGA29799,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [13]:
dwellings_df['Three Storey Total'] = dwellings_df['opds_f_ap_i_3_sty_blk_dwgs'] + dwellings_df['opds_f_ap_i_1or2_sty_blk_ds']

In [14]:
dwellings_df['Four Storey and Above Total'] = dwellings_df['opds_f_ap_i_4to8_sty_blk_ds'] + dwellings_df['opds_f_ap_i_9_m_sty_blk_ds']

In [15]:
dwellings_df

,lga_code_2021,opds_f_ap_i_1or2_sty_blk_ds,opds_f_ap_i_3_sty_blk_dwgs,opds_f_ap_i_4to8_sty_blk_ds,opds_f_ap_i_9_m_sty_blk_ds,opds_flt_apart_tot_dwgs,opds_flt_apt_att_house_ds,opds_other_dwelling_tot_dwgs,opds_sd_r_t_h_th_1_sty_dwgs,opds_sd_r_t_h_th_2_m_sty_dwgs,...,opds_tot_opds_dwellings,total_pds_dwellings,total_total,unoccupied_pds_dwgs,Single Storey,Two Storey,Single Storey Total,Two Storey Total,Three Storey Total,Four Storey and Above Total
0,LGA20110,40,0,0,0,45,4,31,238,15,...,5222,6661,5222,1434,5112,55,5112,55,40,0
1,LGA20260,4,6,0,0,12,0,28,294,8,...,4541,5141,4541,602,4473,12,4473,12,10,0
2,LGA20570,1021,88,3,0,1121,14,126,4802,544,...,44654,48235,44654,3584,42796,1565,42796,1565,1109,3
3,LGA20660,1895,476,932,299,3636,29,40,4252,3493,...,47666,51602,47666,3941,40478,5388,40478,5388,2371,1231
4,LGA20740,214,27,12,0,257,9,183,671,293,...,16662,27496,16662,10831,15905,507,15905,507,241,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,LGA27450,245,11,0,0,313,54,216,2067,849,...,55842,59475,55842,3632,54446,1094,54446,1094,256,0
78,LGA27630,14,0,0,0,15,4,36,56,0,...,2740,3389,2740,655,2692,14,2692,14,14,0
79,LGA29399,25,15,15,9,64,0,0,4,0,...,156,475,156,319,84,25,84,25,40,24
80,LGA29499,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
81,LGA29799,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0