## Melbourne LGA census information

In [2]:
import pandas as pd
import numpy as np
from flask import Flask, jsonify

import requests 

# from sqlalchemy import create_engine, Table, MetaData, text, func
# from sqlalchemy.orm import Session

import pandas as pd
import numpy as np

from flask import Flask, jsonify

# engine = create_engine(f"postgresql://postgres:@localhost/melbournehousingdb")
# metadata = MetaData()
# metadata.bind = engine

In [3]:
url = f"http://127.0.0.1:5000/api/dwellings"
response = requests.get(url)
if response.status_code == 200:
        df = pd.json_normalize(response.json())

In [4]:
# Check that the df exists
df

,lga_code_2021,opds_f_ap_i_1or2_sty_blk_ds,opds_f_ap_i_3_sty_blk_dwgs,opds_f_ap_i_4to8_sty_blk_ds,opds_f_ap_i_9_m_sty_blk_ds,opds_flt_apart_tot_dwgs,opds_flt_apt_att_house_ds,opds_other_dwelling_tot_dwgs,opds_sd_r_t_h_th_1_sty_dwgs,opds_sd_r_t_h_th_2_m_sty_dwgs,opds_sd_r_t_h_th_tot_dwgs,opds_separate_house_dwellings,opds_tot_opds_dwellings,total_pds_dwellings,total_total,unoccupied_pds_dwgs
0,LGA20110,40,0,0,0,45,4,31,238,15,252,4870,5222,6661,5222,1434
1,LGA20260,4,6,0,0,12,0,28,294,8,300,4179,4541,5141,4541,602
2,LGA20570,1021,88,3,0,1121,14,126,4802,544,5344,37980,44654,48235,44654,3584
3,LGA20660,1895,476,932,299,3636,29,40,4252,3493,7746,36197,47666,51602,47666,3941
4,LGA20740,214,27,12,0,257,9,183,671,293,961,15225,16662,27496,16662,10831
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,LGA27450,245,11,0,0,313,54,216,2067,849,2919,52325,55842,59475,55842,3632
78,LGA27630,14,0,0,0,15,4,36,56,0,56,2632,2740,3389,2740,655
79,LGA29399,25,15,15,9,64,0,0,4,0,3,80,156,475,156,319
80,LGA29499,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
81,LGA29799,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [5]:
# make dwellings

dwellings_df = pd.DataFrame(df)
dwellings_df

,lga_code_2021,opds_f_ap_i_1or2_sty_blk_ds,opds_f_ap_i_3_sty_blk_dwgs,opds_f_ap_i_4to8_sty_blk_ds,opds_f_ap_i_9_m_sty_blk_ds,opds_flt_apart_tot_dwgs,opds_flt_apt_att_house_ds,opds_other_dwelling_tot_dwgs,opds_sd_r_t_h_th_1_sty_dwgs,opds_sd_r_t_h_th_2_m_sty_dwgs,opds_sd_r_t_h_th_tot_dwgs,opds_separate_house_dwellings,opds_tot_opds_dwellings,total_pds_dwellings,total_total,unoccupied_pds_dwgs
0,LGA20110,40,0,0,0,45,4,31,238,15,252,4870,5222,6661,5222,1434
1,LGA20260,4,6,0,0,12,0,28,294,8,300,4179,4541,5141,4541,602
2,LGA20570,1021,88,3,0,1121,14,126,4802,544,5344,37980,44654,48235,44654,3584
3,LGA20660,1895,476,932,299,3636,29,40,4252,3493,7746,36197,47666,51602,47666,3941
4,LGA20740,214,27,12,0,257,9,183,671,293,961,15225,16662,27496,16662,10831
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,LGA27450,245,11,0,0,313,54,216,2067,849,2919,52325,55842,59475,55842,3632
78,LGA27630,14,0,0,0,15,4,36,56,0,56,2632,2740,3389,2740,655
79,LGA29399,25,15,15,9,64,0,0,4,0,3,80,156,475,156,319
80,LGA29499,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
81,LGA29799,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [6]:
# If there are missing values, check them:
# dwellings_df[['opds_sd_r_t_h_th_1_sty_dwgs', 'opds_flt_apt_att_house_ds']] = dwellings_df[['opds_sd_r_t_h_th_1_sty_dwgs', 'opds_flt_apt_att_house_ds']].fillna(0)

In [7]:
dwellings_df['Single Storey Total'] = dwellings_df['opds_separate_house_dwellings'] + dwellings_df['opds_sd_r_t_h_th_1_sty_dwgs'] + dwellings_df['opds_flt_apt_att_house_ds']

In [8]:
dwellings_df

,lga_code_2021,opds_f_ap_i_1or2_sty_blk_ds,opds_f_ap_i_3_sty_blk_dwgs,opds_f_ap_i_4to8_sty_blk_ds,opds_f_ap_i_9_m_sty_blk_ds,opds_flt_apart_tot_dwgs,opds_flt_apt_att_house_ds,opds_other_dwelling_tot_dwgs,opds_sd_r_t_h_th_1_sty_dwgs,opds_sd_r_t_h_th_2_m_sty_dwgs,opds_sd_r_t_h_th_tot_dwgs,opds_separate_house_dwellings,opds_tot_opds_dwellings,total_pds_dwellings,total_total,unoccupied_pds_dwgs,Single Storey Total
0,LGA20110,40,0,0,0,45,4,31,238,15,252,4870,5222,6661,5222,1434,5112
1,LGA20260,4,6,0,0,12,0,28,294,8,300,4179,4541,5141,4541,602,4473
2,LGA20570,1021,88,3,0,1121,14,126,4802,544,5344,37980,44654,48235,44654,3584,42796
3,LGA20660,1895,476,932,299,3636,29,40,4252,3493,7746,36197,47666,51602,47666,3941,40478
4,LGA20740,214,27,12,0,257,9,183,671,293,961,15225,16662,27496,16662,10831,15905
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,LGA27450,245,11,0,0,313,54,216,2067,849,2919,52325,55842,59475,55842,3632,54446
78,LGA27630,14,0,0,0,15,4,36,56,0,56,2632,2740,3389,2740,655,2692
79,LGA29399,25,15,15,9,64,0,0,4,0,3,80,156,475,156,319,84
80,LGA29499,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
81,LGA29799,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [9]:
dwellings_df['Two Storey Total'] = dwellings_df['opds_sd_r_t_h_th_2_m_sty_dwgs'] + dwellings_df['opds_f_ap_i_1or2_sty_blk_ds']

In [10]:
dwellings_df

,lga_code_2021,opds_f_ap_i_1or2_sty_blk_ds,opds_f_ap_i_3_sty_blk_dwgs,opds_f_ap_i_4to8_sty_blk_ds,opds_f_ap_i_9_m_sty_blk_ds,opds_flt_apart_tot_dwgs,opds_flt_apt_att_house_ds,opds_other_dwelling_tot_dwgs,opds_sd_r_t_h_th_1_sty_dwgs,opds_sd_r_t_h_th_2_m_sty_dwgs,opds_sd_r_t_h_th_tot_dwgs,opds_separate_house_dwellings,opds_tot_opds_dwellings,total_pds_dwellings,total_total,unoccupied_pds_dwgs,Single Storey Total,Two Storey Total
0,LGA20110,40,0,0,0,45,4,31,238,15,252,4870,5222,6661,5222,1434,5112,55
1,LGA20260,4,6,0,0,12,0,28,294,8,300,4179,4541,5141,4541,602,4473,12
2,LGA20570,1021,88,3,0,1121,14,126,4802,544,5344,37980,44654,48235,44654,3584,42796,1565
3,LGA20660,1895,476,932,299,3636,29,40,4252,3493,7746,36197,47666,51602,47666,3941,40478,5388
4,LGA20740,214,27,12,0,257,9,183,671,293,961,15225,16662,27496,16662,10831,15905,507
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,LGA27450,245,11,0,0,313,54,216,2067,849,2919,52325,55842,59475,55842,3632,54446,1094
78,LGA27630,14,0,0,0,15,4,36,56,0,56,2632,2740,3389,2740,655,2692,14
79,LGA29399,25,15,15,9,64,0,0,4,0,3,80,156,475,156,319,84,25
80,LGA29499,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
81,LGA29799,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [11]:
dwellings_df['Three Storey Total'] = dwellings_df['opds_f_ap_i_3_sty_blk_dwgs'] + dwellings_df['opds_f_ap_i_1or2_sty_blk_ds']

In [12]:
dwellings_df['Four Storey and Above Total'] = dwellings_df['opds_f_ap_i_4to8_sty_blk_ds'] + dwellings_df['opds_f_ap_i_9_m_sty_blk_ds']

In [13]:
dwellings_df

,lga_code_2021,opds_f_ap_i_1or2_sty_blk_ds,opds_f_ap_i_3_sty_blk_dwgs,opds_f_ap_i_4to8_sty_blk_ds,opds_f_ap_i_9_m_sty_blk_ds,opds_flt_apart_tot_dwgs,opds_flt_apt_att_house_ds,opds_other_dwelling_tot_dwgs,opds_sd_r_t_h_th_1_sty_dwgs,opds_sd_r_t_h_th_2_m_sty_dwgs,opds_sd_r_t_h_th_tot_dwgs,opds_separate_house_dwellings,opds_tot_opds_dwellings,total_pds_dwellings,total_total,unoccupied_pds_dwgs,Single Storey Total,Two Storey Total,Three Storey Total,Four Storey and Above Total
0,LGA20110,40,0,0,0,45,4,31,238,15,252,4870,5222,6661,5222,1434,5112,55,40,0
1,LGA20260,4,6,0,0,12,0,28,294,8,300,4179,4541,5141,4541,602,4473,12,10,0
2,LGA20570,1021,88,3,0,1121,14,126,4802,544,5344,37980,44654,48235,44654,3584,42796,1565,1109,3
3,LGA20660,1895,476,932,299,3636,29,40,4252,3493,7746,36197,47666,51602,47666,3941,40478,5388,2371,1231
4,LGA20740,214,27,12,0,257,9,183,671,293,961,15225,16662,27496,16662,10831,15905,507,241,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,LGA27450,245,11,0,0,313,54,216,2067,849,2919,52325,55842,59475,55842,3632,54446,1094,256,0
78,LGA27630,14,0,0,0,15,4,36,56,0,56,2632,2740,3389,2740,655,2692,14,14,0
79,LGA29399,25,15,15,9,64,0,0,4,0,3,80,156,475,156,319,84,25,40,24
80,LGA29499,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
81,LGA29799,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [14]:
# Convert dataframe into json object
json = dwellings_df.to_json()
  
# Print json object
print(json)

{"lga_code_2021":{"0":"LGA20110","1":"LGA20260","2":"LGA20570","3":"LGA20660","4":"LGA20740","5":"LGA20830","6":"LGA20910","7":"LGA21010","8":"LGA21110","9":"LGA21180","10":"LGA21270","11":"LGA21370","12":"LGA21450","13":"LGA21610","14":"LGA21670","15":"LGA21750","16":"LGA21830","17":"LGA21890","18":"LGA22110","19":"LGA22170","20":"LGA22250","21":"LGA22310","22":"LGA22410","23":"LGA22490","24":"LGA22620","25":"LGA22670","26":"LGA22750","27":"LGA22830","28":"LGA22910","29":"LGA22980","30":"LGA23110","31":"LGA23190","32":"LGA23270","33":"LGA23350","34":"LGA23430","35":"LGA23670","36":"LGA23810","37":"LGA23940","38":"LGA24130","39":"LGA24210","40":"LGA24250","41":"LGA24330","42":"LGA24410","43":"LGA24600","44":"LGA24650","45":"LGA24780","46":"LGA24850","47":"LGA24900","48":"LGA24970","49":"LGA25060","50":"LGA25150","51":"LGA25250","52":"LGA25340","53":"LGA25430","54":"LGA25490","55":"LGA25620","56":"LGA25710","57":"LGA25810","58":"LGA25900","59":"LGA25990","60":"LGA26080","61":"LGA26170","62":"LGA26260","63":"LGA26350","64":"LGA26430","65":"LGA26490","66":"LGA26610","67":"LGA26670","68":"LGA26700","69":"LGA26730","70":"LGA26810","71":"LGA26890","72":"LGA26980","73":"LGA27070","74":"LGA27170","75":"LGA27260","76":"LGA27350","77":"LGA27450","78":"LGA27630","79":"LGA29399","80":"LGA29499","81":"LGA29799"},"opds_f_ap_i_1or2_sty_blk_ds":{"0":40,"1":4,"2":1021,"3":1895,"4":214,"5":590,"6":2140,"7":7,"8":5346,"9":2295,"10":44,"11":38,"12":301,"13":902,"14":60,"15":30,"16":12,"17":4488,"18":155,"19":914,"20":7,"21":9716,"22":83,"23":5,"24":405,"25":4412,"26":1928,"27":48,"28":96,"29":30,"30":1508,"31":371,"32":2070,"33":34,"34":6531,"35":671,"36":1696,"37":4,"38":35,"39":1420,"40":13,"41":2898,"42":420,"43":1876,"44":175,"45":1085,"46":26,"47":20,"48":6093,"49":3538,"50":47,"51":4619,"52":1661,"53":10,"54":8,"55":3,"56":528,"57":141,"58":6525,"59":3,"60":26,"61":109,"62":90,"63":5667,"64":12,"65":43,"66":390,"67":13,"68":3,"69":564,"70":624,"71":21,"72":1915,"73":1186,"74":276,"75":1521,"76":3091,"77":245,"78":14,"79":25,"80":0,"81":0},"opds_f_ap_i_3_sty_blk_dwgs":{"0":0,"1":6,"2":88,"3":476,"4":27,"5":0,"6":1362,"7":0,"8":4894,"9":141,"10":0,"11":0,"12":20,"13":50,"14":0,"15":0,"16":0,"17":1456,"18":9,"19":180,"20":0,"21":2902,"22":6,"23":0,"24":17,"25":450,"26":170,"27":13,"28":0,"29":0,"30":273,"31":0,"32":0,"33":0,"34":967,"35":385,"36":0,"37":0,"38":13,"39":685,"40":0,"41":1787,"42":618,"43":4357,"44":74,"45":19,"46":0,"47":0,"48":1053,"49":2707,"50":0,"51":1717,"52":129,"53":0,"54":0,"55":0,"56":40,"57":0,"58":11198,"59":0,"60":0,"61":0,"62":0,"63":8450,"64":0,"65":31,"66":7,"67":0,"68":0,"69":54,"70":25,"71":0,"72":1436,"73":421,"74":0,"75":23,"76":4525,"77":11,"78":0,"79":15,"80":0,"81":0},"opds_f_ap_i_4to8_sty_blk_ds":{"0":0,"1":0,"2":3,"3":932,"4":12,"5":0,"6":1559,"7":0,"8":4271,"9":145,"10":0,"11":0,"12":0,"13":0,"14":0,"15":0,"16":0,"17":2863,"18":0,"19":116,"20":0,"21":3360,"22":0,"23":0,"24":0,"25":433,"26":302,"27":4,"28":0,"29":0,"30":401,"31":0,"32":128,"33":0,"34":1287,"35":243,"36":0,"37":0,"38":0,"39":1518,"40":0,"41":2360,"42":575,"43":9622,"44":137,"45":0,"46":0,"47":0,"48":2054,"49":3649,"50":21,"51":5069,"52":40,"53":0,"54":0,"55":0,"56":32,"57":0,"58":6072,"59":0,"60":0,"61":0,"62":0,"63":5918,"64":0,"65":7,"66":0,"67":0,"68":0,"69":0,"70":0,"71":0,"72":2107,"73":518,"74":0,"75":479,"76":6814,"77":0,"78":0,"79":15,"80":0,"81":0},"opds_f_ap_i_9_m_sty_blk_ds":{"0":0,"1":0,"2":0,"3":299,"4":0,"5":0,"6":240,"7":0,"8":636,"9":91,"10":0,"11":0,"12":3,"13":0,"14":0,"15":0,"16":0,"17":440,"18":0,"19":24,"20":0,"21":385,"22":0,"23":0,"24":0,"25":0,"26":134,"27":0,"28":0,"29":0,"30":150,"31":0,"32":0,"33":0,"34":347,"35":170,"36":0,"37":0,"38":0,"39":1317,"40":0,"41":1525,"42":74,"43":44854,"44":0,"45":0,"46":0,"47":0,"48":951,"49":1079,"50":0,"51":1131,"52":0,"53":0,"54":0,"55":0,"56":0,"57":0,"58":8598,"59":0,"60":0,"61":0,"62":0,"63":5018,"64":0,"65":0,"66":0,"67":0,"68":0,"69":0,"70":0,"71":0,"72":1513,"73":0,"74":0,"75":0,"76":5470,"77":0,"78":0,"79":9,"80":0,"81":0},"opds_flt_apart_tot_dwgs":{"0":45,"1":12,"2":1121,"3":3636,"4":257,"5":595,"6":5317,"7":6,"8":15162,"9":2731,"10":44,"11":37,"12":340,"13":1007,"14":62,"15":36,"16":12,"17":9283,"18":168,"19":1284,"20":7,"21":16397,"22":87,"23":7,"24":436,"25":5323,"26":2558,"27":66,"28":100,"29":30,"30":2350,"31":371,"32":2242,"33":37,"34":9155,"35":1531,"36":1703,"37":4,"38":56,"39":4958,"40":13,"41":8613,"42":1711,"43":60718,"44":409,"45":1106,"46":36,"47":30,"48":10187,"49":10994,"50":85,"51":12575,"52":1886,"53":13,"54":10,"55":6,"56":609,"57":139,"58":32443,"59":3,"60":32,"61":111,"62":96,"63":25059,"64":13,"65":83,"66":399,"67":13,"68":10,"69":622,"70":661,"71":21,"72":7018,"73":2156,"74":280,"75":2045,"76":19928,"77":313,"78":15,"79":64,"80":0,"81":0},"opds_flt_apt_att_house_ds":{"0":4,"1":0,"2":14,"3":29,"4":9,"5":6,"6":18,"7":0,"8":18,"9":54,"10":0,"11":4,"12":17,"13":51,"14":0,"15":5,"16":0,"17":34,"18":0,"19":50,"20":0,"21":38,"22":0,"23":5,"24":15,"25":35,"26":22,"27":4,"28":3,"29":0,"30":15,"31":0,"32":45,"33":4,"34":19,"35":56,"36":4,"37":0,"38":9,"39":19,"40":0,"41":38,"42":28,"43":9,"44":23,"45":4,"46":10,"47":3,"48":41,"49":20,"50":15,"51":40,"52":51,"53":3,"54":0,"55":0,"56":13,"57":0,"58":43,"59":0,"60":0,"61":5,"62":4,"63":10,"64":0,"65":0,"66":4,"67":0,"68":5,"69":0,"70":7,"71":0,"72":48,"73":27,"74":3,"75":24,"76":31,"77":54,"78":4,"79":0,"80":0,"81":0},"opds_other_dwelling_tot_dwgs":{"0":31,"1":28,"2":126,"3":40,"4":183,"5":311,"6":253,"7":43,"8":218,"9":87,"10":27,"11":200,"12":140,"13":122,"14":97,"15":81,"16":23,"17":341,"18":297,"19":307,"20":55,"21":208,"22":74,"23":14,"24":162,"25":215,"26":556,"27":528,"28":80,"29":14,"30":69,"31":21,"32":123,"33":68,"34":306,"35":47,"36":124,"37":56,"38":102,"39":11,"40":30,"41":197,"42":23,"43":131,"44":122,"45":281,"46":43,"47":176,"48":30,"49":145,"50":58,"51":295,"52":450,"53":33,"54":26,"55":133,"56":9,"57":41,"58":564,"59":29,"60":10,"61":78,"62":38,"63":344,"64":66,"65":39,"66":140,"67":21,"68":57,"69":107,"70":142,"71":6,"72":29,"73":20,"74":61,"75":87,"76":353,"77":216,"78":36,"79":0,"80":0,"81":0},"opds_sd_r_t_h_th_1_sty_dwgs":{"0":238,"1":294,"2":4802,"3":4252,"4":671,"5":848,"6":4494,"7":581,"8":7738,"9":5046,"10":76,"11":1205,"12":2213,"13":7109,"14":369,"15":590,"16":226,"17":8518,"18":1220,"19":6872,"20":197,"21":8187,"22":392,"23":89,"24":2835,"25":5758,"26":8789,"27":2143,"28":140,"29":68,"30":3558,"31":343,"32":3954,"33":238,"34":9412,"35":5021,"36":1649,"37":71,"38":945,"39":2890,"40":124,"41":2558,"42":2508,"43":2346,"44":3011,"45":1586,"46":971,"47":856,"48":5272,"49":4240,"50":702,"51":7530,"52":5290,"53":239,"54":146,"55":107,"56":306,"57":148,"58":5999,"59":28,"60":75,"61":306,"62":297,"63":4721,"64":177,"65":369,"66":387,"67":34,"68":1075,"69":1248,"70":519,"71":27,"72":9919,"73":4367,"74":1360,"75":5804,"76":8673,"77":2067,"78":56,"79":4,"80":0,"81":0},"opds_sd_r_t_h_th_2_m_sty_dwgs":{"0":15,"1":8,"2":544,"3":3493,"4":293,"5":45,"6":4115,"7":3,"8":4763,"9":3908,"10":0,"11":21,"12":821,"13":2890,"14":17,"15":46,"16":9,"17":7663,"18":123,"19":2219,"20":0,"21":5591,"22":42,"23":0,"24":455,"25":3408,"26":2071,"27":102,"28":37,"29":7,"30":4687,"31":6,"32":2873,"33":3,"34":6165,"35":2931,"36":150,"37":0,"38":60,"39":4543,"40":5,"41":5563,"42":1225,"43":5745,"44":1342,"45":72,"46":120,"47":36,"48":5291,"49":5923,"50":124,"51":11188,"52":1766,"53":14,"54":32,"55":0,"56":428,"57":0,"58":5407,"59":3,"60":23,"61":26,"62":7,"63":4240,"64":0,"65":387,"66":18,"67":0,"68":60,"69":339,"70":95,"71":0,"72":5298,"73":3768,"74":86,"75":2613,"76":6554,"77":849,"78":0,"79":0,"80":0,"81":0},"opds_sd_r_t_h_th_tot_dwgs":{"0":252,"1":300,"2":5344,"3":7746,"4":961,"5":891,"6":8612,"7":583,"8":12501,"9":8955,"10":80,"11":1224,"12":3028,"13":9995,"14":386,"15":637,"16":239,"17":16180,"18":1340,"19":9090,"20":196,"21":13778,"22":435,"23":95,"24":3291,"25":9162,"26":10866,"27":2241,"28":177,"29":74,"30":8236,"31":351,"32":6828,"33":236,"34":15576,"35":7959,"36":1802,"37":70,"38":1000,"39":7437,"40":127,"41":8118,"42":3734,"43":8095,"44":4353,"45":1662,"46":1094,"47":890,"48":10558,"49":10166,"50":829,"51":18715,"52":7055,"53":257,"54":176,"55":106,"56":726,"57":145,"58":11406,"59":27,"60":92,"61":331,"62":304,"63":8964,"64":179,"65":754,"66":403,"67":34,"68":1128,"69":1589,"70":617,"71":27,"72":15216,"73":8132,"74":1445,"75":8421,"76":15229,"77":2919,"78":56,"79":3,"80":0,"81":0},"opds_separate_house_dwellings":{"0":4870,"1":4179,"2":37980,"3":36197,"4":15225,"5":19615,"6":23722,"7":5391,"8":34771,"9":52121,"10":2399,"11":13593,"12":36059,"13":102149,"14":5207,"15":8063,"16":6053,"17":33636,"18":17897,"19":42288,"20":4083,"21":27526,"22":7578,"23":8169,"24":42612,"25":36911,"26":89397,"27":21909,"28":6470,"29":2241,"30":23967,"31":7469,"32":66487,"33":6253,"34":35855,"35":47854,"36":26943,"37":2907,"38":16880,"39":32131,"40":3649,"41":16731,"42":37499,"43":1576,"44":49974,"45":18178,"46":15944,"47":10801,"48":46139,"49":26470,"50":12518,"51":36218,"52":55205,"53":8075,"54":6221,"55":5738,"56":19557,"57":4569,"58":4239,"59":2908,"60":1300,"61":11464,"62":6400,"63":12804,"64":4481,"65":12363,"66":6734,"67":2333,"68":10637,"69":11658,"70":16090,"71":1584,"72":40779,"73":65609,"74":14559,"75":79221,"76":5086,"77":52325,"78":2632,"79":80,"80":0,"81":0},"opds_tot_opds_dwellings":{"0":5222,"1":4541,"2":44654,"3":47666,"4":16662,"5":21441,"6":37936,"7":6033,"8":62715,"9":63949,"10":2555,"11":15079,"12":39607,"13":113365,"14":5774,"15":8848,"16":6343,"17":59488,"18":19771,"19":53019,"20":4359,"21":57971,"22":8190,"23":8287,"24":46599,"25":51670,"26":103508,"27":24795,"28":6846,"29":2367,"30":34663,"31":8216,"32":75740,"33":6615,"34":60940,"35":57422,"36":30610,"37":3049,"38":18060,"39":44574,"40":3830,"41":33695,"42":43006,"43":70760,"44":54907,"45":21283,"46":17140,"47":11917,"48":66979,"49":47814,"50":13500,"51":67871,"52":64650,"53":8396,"54":6439,"55":6006,"56":20912,"57":4903,"58":48731,"59":2976,"60":1441,"61":12001,"62":6844,"63":47229,"64":4734,"65":13270,"66":7718,"67":2406,"68":11847,"69":13993,"70":17538,"71":1643,"72":63094,"73":75971,"74":16372,"75":89823,"76":40646,"77":55842,"78":2740,"79":156,"80":0,"81":0},"total_pds_dwellings":{"0":6661,"1":5141,"2":48235,"3":51602,"4":27496,"5":23365,"6":41805,"7":6770,"8":70862,"9":68236,"10":3118,"11":16804,"12":41728,"13":117991,"14":6563,"15":11657,"16":7424,"17":65929,"18":24334,"19":56304,"20":4977,"21":64338,"22":9565,"23":9019,"24":50599,"25":55471,"26":115839,"27":26895,"28":8849,"29":2956,"30":37798,"31":9126,"32":80257,"33":7309,"34":65671,"35":60403,"36":33562,"37":3929,"38":19699,"39":48744,"40":6131,"41":38656,"42":45711,"43":96839,"44":57704,"45":23408,"46":18530,"47":14030,"48":73895,"49":53173,"50":14807,"51":75471,"52":89181,"53":9589,"54":8065,"55":7684,"56":21915,"57":5778,"58":59798,"59":3671,"60":2682,"61":16154,"62":7872,"63":57080,"64":5714,"65":19527,"66":8721,"67":2891,"68":12952,"69":15223,"70":22151,"71":2085,"72":69511,"73":80108,"74":17465,"75":95935,"76":47806,"77":59475,"78":3389,"79":475,"80":0,"81":0},"total_total":{"0":5222,"1":4541,"2":44654,"3":47666,"4":16662,"5":21441,"6":37936,"7":6033,"8":62715,"9":63949,"10":2555,"11":15079,"12":39607,"13":113365,"14":5774,"15":8848,"16":6343,"17":59488,"18":19771,"19":53019,"20":4359,"21":57971,"22":8190,"23":8287,"24":46599,"25":51670,"26":103508,"27":24795,"28":6846,"29":2367,"30":34663,"31":8216,"32":75740,"33":6615,"34":60940,"35":57422,"36":30610,"37":3049,"38":18060,"39":44574,"40":3830,"41":33695,"42":43006,"43":70760,"44":54907,"45":21283,"46":17140,"47":11917,"48":66979,"49":47814,"50":13500,"51":67871,"52":64650,"53":8396,"54":6439,"55":6006,"56":20912,"57":4903,"58":48731,"59":2976,"60":1441,"61":12001,"62":6844,"63":47229,"64":4734,"65":13270,"66":7718,"67":2406,"68":11847,"69":13993,"70":17538,"71":1643,"72":63094,"73":75971,"74":16372,"75":89823,"76":40646,"77":55842,"78":2740,"79":156,"80":0,"81":0},"unoccupied_pds_dwgs":{"0":1434,"1":602,"2":3584,"3":3941,"4":10831,"5":1924,"6":3871,"7":737,"8":8147,"9":4288,"10":558,"11":1726,"12":2122,"13":4629,"14":790,"15":2808,"16":1077,"17":6442,"18":4564,"19":3280,"20":613,"21":6369,"22":1373,"23":729,"24":3997,"25":3802,"26":12334,"27":2104,"28":2008,"29":587,"30":3132,"31":910,"32":4513,"33":690,"34":4731,"35":2973,"36":2961,"37":872,"38":1648,"39":4165,"40":2300,"41":4955,"42":2705,"43":26071,"44":2803,"45":2125,"46":1390,"47":2115,"48":6914,"49":5358,"50":1307,"51":7597,"52":24525,"53":1194,"54":1625,"55":1679,"56":999,"57":871,"58":11066,"59":692,"60":1243,"61":4148,"62":1021,"63":9851,"64":978,"65":6255,"66":1006,"67":481,"68":1100,"69":1230,"70":4612,"71":443,"72":6413,"73":4140,"74":1091,"75":6120,"76":7151,"77":3632,"78":655,"79":319,"80":0,"81":0},"Single Storey Total":{"0":5112,"1":4473,"2":42796,"3":40478,"4":15905,"5":20469,"6":28234,"7":5972,"8":42527,"9":57221,"10":2475,"11":14802,"12":38289,"13":109309,"14":5576,"15":8658,"16":6279,"17":42188,"18":19117,"19":49210,"20":4280,"21":35751,"22":7970,"23":8263,"24":45462,"25":42704,"26":98208,"27":24056,"28":6613,"29":2309,"30":27540,"31":7812,"32":70486,"33":6495,"34":45286,"35":52931,"36":28596,"37":2978,"38":17834,"39":35040,"40":3773,"41":19327,"42":40035,"43":3931,"44":53008,"45":19768,"46":16925,"47":11660,"48":51452,"49":30730,"50":13235,"51":43788,"52":60546,"53":8317,"54":6367,"55":5845,"56":19876,"57":4717,"58":10281,"59":2936,"60":1375,"61":11775,"62":6701,"63":17535,"64":4658,"65":12732,"66":7125,"67":2367,"68":11717,"69":12906,"70":16616,"71":1611,"72":50746,"73":70003,"74":15922,"75":85049,"76":13790,"77":54446,"78":2692,"79":84,"80":0,"81":0},"Two Storey Total":{"0":55,"1":12,"2":1565,"3":5388,"4":507,"5":635,"6":6255,"7":10,"8":10109,"9":6203,"10":44,"11":59,"12":1122,"13":3792,"14":77,"15":76,"16":21,"17":12151,"18":278,"19":3133,"20":7,"21":15307,"22":125,"23":5,"24":860,"25":7820,"26":3999,"27":150,"28":133,"29":37,"30":6195,"31":377,"32":4943,"33":37,"34":12696,"35":3602,"36":1846,"37":4,"38":95,"39":5963,"40":18,"41":8461,"42":1645,"43":7621,"44":1517,"45":1157,"46":146,"47":56,"48":11384,"49":9461,"50":171,"51":15807,"52":3427,"53":24,"54":40,"55":3,"56":956,"57":141,"58":11932,"59":6,"60":49,"61":135,"62":97,"63":9907,"64":12,"65":430,"66":408,"67":13,"68":63,"69":903,"70":719,"71":21,"72":7213,"73":4954,"74":362,"75":4134,"76":9645,"77":1094,"78":14,"79":25,"80":0,"81":0},"Three Storey Total":{"0":40,"1":10,"2":1109,"3":2371,"4":241,"5":590,"6":3502,"7":7,"8":10240,"9":2436,"10":44,"11":38,"12":321,"13":952,"14":60,"15":30,"16":12,"17":5944,"18":164,"19":1094,"20":7,"21":12618,"22":89,"23":5,"24":422,"25":4862,"26":2098,"27":61,"28":96,"29":30,"30":1781,"31":371,"32":2070,"33":34,"34":7498,"35":1056,"36":1696,"37":4,"38":48,"39":2105,"40":13,"41":4685,"42":1038,"43":6233,"44":249,"45":1104,"46":26,"47":20,"48":7146,"49":6245,"50":47,"51":6336,"52":1790,"53":10,"54":8,"55":3,"56":568,"57":141,"58":17723,"59":3,"60":26,"61":109,"62":90,"63":14117,"64":12,"65":74,"66":397,"67":13,"68":3,"69":618,"70":649,"71":21,"72":3351,"73":1607,"74":276,"75":1544,"76":7616,"77":256,"78":14,"79":40,"80":0,"81":0},"Four Storey and Above Total":{"0":0,"1":0,"2":3,"3":1231,"4":12,"5":0,"6":1799,"7":0,"8":4907,"9":236,"10":0,"11":0,"12":3,"13":0,"14":0,"15":0,"16":0,"17":3303,"18":0,"19":140,"20":0,"21":3745,"22":0,"23":0,"24":0,"25":433,"26":436,"27":4,"28":0,"29":0,"30":551,"31":0,"32":128,"33":0,"34":1634,"35":413,"36":0,"37":0,"38":0,"39":2835,"40":0,"41":3885,"42":649,"43":54476,"44":137,"45":0,"46":0,"47":0,"48":3005,"49":4728,"50":21,"51":6200,"52":40,"53":0,"54":0,"55":0,"56":32,"57":0,"58":14670,"59":0,"60":0,"61":0,"62":0,"63":10936,"64":0,"65":7,"66":0,"67":0,"68":0,"69":0,"70":0,"71":0,"72":3620,"73":518,"74":0,"75":479,"76":12284,"77":0,"78":0,"79":24,"80":0,"81":0}}