## Melbourne LGA census information

In [1]:
import pandas as pd
import numpy as np
from flask import Flask, jsonify

import requests 

# from sqlalchemy import create_engine, Table, MetaData, text, func
# from sqlalchemy.orm import Session

import pandas as pd
import numpy as np

from flask import Flask, jsonify

# engine = create_engine(f"postgresql://postgres:@localhost/melbournehousingdb")
# metadata = MetaData()
# metadata.bind = engine

In [2]:
url = f"http://127.0.0.1:5000/api/people_dwellings"
response = requests.get(url)
if response.status_code == 200:
        df = pd.json_normalize(response.json())

In [3]:
# Check that the df exists
df

,lga_code_2021,opds_f_ap_i_1or2_sty_blk_ps,opds_f_ap_i_3_sty_blk_psns,opds_f_ap_i_4to8_sty_blk_ps,opds_f_ap_i_9_m_sty_blk_ps,opds_flt_apart_tot_psns,opds_flt_apt_att_house_ps,opds_other_dwelling_tot_psns,opds_sd_r_t_h_th_1_sty_psns,opds_sd_r_t_h_th_2_m_sty_psns,opds_sd_r_t_h_th_tot_psns,opds_separate_house_persons,opds_tot_opds_persons,total_pds_persons,total_total,unoccupied_pds_psns
0,LGA20110,74,0,0,0,87,11,68,376,27,406,11228,11843,11843,5222,None
1,LGA20260,31,7,0,0,45,4,61,410,18,430,9581,10142,10142,4541,None
2,LGA20570,1462,129,5,0,1616,29,222,7964,1016,8986,94623,105593,105593,44654,None
3,LGA20660,3375,790,1500,464,6188,56,73,7576,8215,15790,97923,120069,120069,47666,None
4,LGA20740,329,30,16,6,392,5,257,938,612,1552,34440,36724,36724,16662,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,LGA27450,380,15,0,0,494,99,311,3263,1652,4914,142237,148107,148107,55842,None
78,LGA27630,20,0,0,0,21,3,63,65,0,65,5727,5881,5881,2740,None
79,LGA29399,57,50,38,18,170,0,0,10,3,9,224,434,434,156,None
80,LGA29499,0,0,0,0,0,0,0,0,0,0,0,0,0,0,None
81,LGA29799,0,0,0,0,0,0,0,0,0,0,0,0,0,0,None

In [4]:
# make dwellings

dwellings_df = pd.DataFrame(df)
dwellings_df

,lga_code_2021,opds_f_ap_i_1or2_sty_blk_ps,opds_f_ap_i_3_sty_blk_psns,opds_f_ap_i_4to8_sty_blk_ps,opds_f_ap_i_9_m_sty_blk_ps,opds_flt_apart_tot_psns,opds_flt_apt_att_house_ps,opds_other_dwelling_tot_psns,opds_sd_r_t_h_th_1_sty_psns,opds_sd_r_t_h_th_2_m_sty_psns,opds_sd_r_t_h_th_tot_psns,opds_separate_house_persons,opds_tot_opds_persons,total_pds_persons,total_total,unoccupied_pds_psns
0,LGA20110,74,0,0,0,87,11,68,376,27,406,11228,11843,11843,5222,None
1,LGA20260,31,7,0,0,45,4,61,410,18,430,9581,10142,10142,4541,None
2,LGA20570,1462,129,5,0,1616,29,222,7964,1016,8986,94623,105593,105593,44654,None
3,LGA20660,3375,790,1500,464,6188,56,73,7576,8215,15790,97923,120069,120069,47666,None
4,LGA20740,329,30,16,6,392,5,257,938,612,1552,34440,36724,36724,16662,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,LGA27450,380,15,0,0,494,99,311,3263,1652,4914,142237,148107,148107,55842,None
78,LGA27630,20,0,0,0,21,3,63,65,0,65,5727,5881,5881,2740,None
79,LGA29399,57,50,38,18,170,0,0,10,3,9,224,434,434,156,None
80,LGA29499,0,0,0,0,0,0,0,0,0,0,0,0,0,0,None
81,LGA29799,0,0,0,0,0,0,0,0,0,0,0,0,0,0,None

In [6]:
# If there are missing values, check them:
# dwellings_df[['opds_sd_r_t_h_th_1_sty_dwgs', 'opds_flt_apt_att_house_ds']] = dwellings_df[['opds_sd_r_t_h_th_1_sty_dwgs', 'opds_flt_apt_att_house_ds']].fillna(0)

In [8]:
dwellings_df['Single Storey Total People'] = dwellings_df['opds_separate_house_persons'] + dwellings_df['opds_sd_r_t_h_th_1_sty_psns'] + dwellings_df['opds_flt_apt_att_house_ps']

In [9]:
dwellings_df['Two Storey Total People'] = dwellings_df['opds_sd_r_t_h_th_2_m_sty_psns'] + dwellings_df['opds_f_ap_i_1or2_sty_blk_ps']

In [10]:
dwellings_df['Three Storey Total People'] = dwellings_df['opds_f_ap_i_3_sty_blk_psns'] + dwellings_df['opds_f_ap_i_1or2_sty_blk_ps']

In [11]:
dwellings_df['Four Storey and Above Total'] = dwellings_df['opds_f_ap_i_4to8_sty_blk_ps'] + dwellings_df['opds_f_ap_i_9_m_sty_blk_ps']

In [12]:
dwellings_df

,lga_code_2021,opds_f_ap_i_1or2_sty_blk_ps,opds_f_ap_i_3_sty_blk_psns,opds_f_ap_i_4to8_sty_blk_ps,opds_f_ap_i_9_m_sty_blk_ps,opds_flt_apart_tot_psns,opds_flt_apt_att_house_ps,opds_other_dwelling_tot_psns,opds_sd_r_t_h_th_1_sty_psns,opds_sd_r_t_h_th_2_m_sty_psns,...,opds_separate_house_persons,opds_tot_opds_persons,total_pds_persons,total_total,unoccupied_pds_psns,Single Storey Total People,Two Storey Total,Two Storey Total People,Three Storey Total People,Four Storey and Above Total
0,LGA20110,74,0,0,0,87,11,68,376,27,...,11228,11843,11843,5222,None,11615,101,101,74,0
1,LGA20260,31,7,0,0,45,4,61,410,18,...,9581,10142,10142,4541,None,9995,49,49,38,0
2,LGA20570,1462,129,5,0,1616,29,222,7964,1016,...,94623,105593,105593,44654,None,102616,2478,2478,1591,5
3,LGA20660,3375,790,1500,464,6188,56,73,7576,8215,...,97923,120069,120069,47666,None,105555,11590,11590,4165,1964
4,LGA20740,329,30,16,6,392,5,257,938,612,...,34440,36724,36724,16662,None,35383,941,941,359,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,LGA27450,380,15,0,0,494,99,311,3263,1652,...,142237,148107,148107,55842,None,145599,2032,2032,395,0
78,LGA27630,20,0,0,0,21,3,63,65,0,...,5727,5881,5881,2740,None,5795,20,20,20,0
79,LGA29399,57,50,38,18,170,0,0,10,3,...,224,434,434,156,None,234,60,60,107,56
80,LGA29499,0,0,0,0,0,0,0,0,0,...,0,0,0,0,None,0,0,0,0,0
81,LGA29799,0,0,0,0,0,0,0,0,0,...,0,0,0,0,None,0,0,0,0,0

In [14]:
# Convert dataframe into json object
json = dwellings_df.to_json()
  
# Print json object
print(json)

{"lga_code_2021":{"0":"LGA20110","1":"LGA20260","2":"LGA20570","3":"LGA20660","4":"LGA20740","5":"LGA20830","6":"LGA20910","7":"LGA21010","8":"LGA21110","9":"LGA21180","10":"LGA21270","11":"LGA21370","12":"LGA21450","13":"LGA21610","14":"LGA21670","15":"LGA21750","16":"LGA21830","17":"LGA21890","18":"LGA22110","19":"LGA22170","20":"LGA22250","21":"LGA22310","22":"LGA22410","23":"LGA22490","24":"LGA22620","25":"LGA22670","26":"LGA22750","27":"LGA22830","28":"LGA22910","29":"LGA22980","30":"LGA23110","31":"LGA23190","32":"LGA23270","33":"LGA23350","34":"LGA23430","35":"LGA23670","36":"LGA23810","37":"LGA23940","38":"LGA24130","39":"LGA24210","40":"LGA24250","41":"LGA24330","42":"LGA24410","43":"LGA24600","44":"LGA24650","45":"LGA24780","46":"LGA24850","47":"LGA24900","48":"LGA24970","49":"LGA25060","50":"LGA25150","51":"LGA25250","52":"LGA25340","53":"LGA25430","54":"LGA25490","55":"LGA25620","56":"LGA25710","57":"LGA25810","58":"LGA25900","59":"LGA25990","60":"LGA26080","61":"LGA26170","62":"LGA26260","63":"LGA26350","64":"LGA26430","65":"LGA26490","66":"LGA26610","67":"LGA26670","68":"LGA26700","69":"LGA26730","70":"LGA26810","71":"LGA26890","72":"LGA26980","73":"LGA27070","74":"LGA27170","75":"LGA27260","76":"LGA27350","77":"LGA27450","78":"LGA27630","79":"LGA29399","80":"LGA29499","81":"LGA29799"},"opds_f_ap_i_1or2_sty_blk_ps":{"0":74,"1":31,"2":1462,"3":3375,"4":329,"5":877,"6":3621,"7":6,"8":9470,"9":4682,"10":52,"11":60,"12":480,"13":1690,"14":72,"15":44,"16":20,"17":6930,"18":232,"19":1335,"20":12,"21":17290,"22":117,"23":6,"24":637,"25":9214,"26":2999,"27":62,"28":115,"29":32,"30":2525,"31":494,"32":4354,"33":49,"34":11533,"35":1107,"36":2350,"37":3,"38":70,"39":2823,"40":27,"41":5100,"42":790,"43":3401,"44":348,"45":1656,"46":40,"47":39,"48":13611,"49":6204,"50":50,"51":7807,"52":2654,"53":15,"54":17,"55":9,"56":954,"57":194,"58":10812,"59":3,"60":39,"61":129,"62":108,"63":9836,"64":16,"65":61,"66":640,"67":17,"68":8,"69":801,"70":822,"71":21,"72":3641,"73":2536,"74":398,"75":2856,"76":5054,"77":380,"78":20,"79":57,"80":0,"81":0},"opds_f_ap_i_3_sty_blk_psns":{"0":0,"1":7,"2":129,"3":790,"4":30,"5":0,"6":2300,"7":0,"8":8197,"9":221,"10":0,"11":0,"12":29,"13":87,"14":0,"15":4,"16":0,"17":2322,"18":12,"19":282,"20":0,"21":5088,"22":7,"23":0,"24":44,"25":857,"26":262,"27":16,"28":0,"29":0,"30":433,"31":0,"32":4,"33":0,"34":1613,"35":598,"36":0,"37":0,"38":30,"39":1230,"40":0,"41":3062,"42":997,"43":7500,"44":125,"45":23,"46":0,"47":0,"48":1863,"49":4282,"50":0,"51":2863,"52":205,"53":0,"54":0,"55":0,"56":51,"57":0,"58":17732,"59":0,"60":0,"61":0,"62":0,"63":13342,"64":0,"65":52,"66":10,"67":0,"68":0,"69":73,"70":49,"71":0,"72":2494,"73":658,"74":0,"75":41,"76":7332,"77":15,"78":0,"79":50,"80":0,"81":0},"opds_f_ap_i_4to8_sty_blk_ps":{"0":0,"1":0,"2":5,"3":1500,"4":16,"5":0,"6":2434,"7":0,"8":7128,"9":237,"10":0,"11":0,"12":6,"13":0,"14":0,"15":0,"16":0,"17":4683,"18":0,"19":177,"20":0,"21":5802,"22":0,"23":0,"24":0,"25":799,"26":450,"27":3,"28":0,"29":0,"30":625,"31":0,"32":286,"33":0,"34":2069,"35":388,"36":0,"37":0,"38":0,"39":2780,"40":0,"41":3872,"42":958,"43":16521,"44":255,"45":0,"46":0,"47":0,"48":3428,"49":5818,"50":26,"51":8032,"52":67,"53":0,"54":0,"55":0,"56":44,"57":0,"58":9767,"59":0,"60":0,"61":0,"62":0,"63":9170,"64":0,"65":16,"66":0,"67":0,"68":0,"69":0,"70":0,"71":0,"72":3499,"73":812,"74":0,"75":765,"76":11080,"77":0,"78":0,"79":38,"80":0,"81":0},"opds_f_ap_i_9_m_sty_blk_ps":{"0":0,"1":0,"2":0,"3":464,"4":6,"5":0,"6":386,"7":0,"8":1003,"9":145,"10":0,"11":0,"12":7,"13":0,"14":0,"15":0,"16":0,"17":652,"18":0,"19":31,"20":0,"21":609,"22":0,"23":0,"24":0,"25":0,"26":229,"27":0,"28":0,"29":0,"30":230,"31":0,"32":0,"33":3,"34":577,"35":261,"36":0,"37":0,"38":0,"39":2434,"40":0,"41":2469,"42":117,"43":78446,"44":0,"45":0,"46":0,"47":0,"48":1743,"49":2085,"50":0,"51":1756,"52":3,"53":0,"54":0,"55":0,"56":0,"57":0,"58":14414,"59":0,"60":0,"61":0,"62":0,"63":7780,"64":0,"65":0,"66":3,"67":0,"68":0,"69":0,"70":6,"71":0,"72":2779,"73":0,"74":0,"75":0,"76":9992,"77":0,"78":0,"79":18,"80":0,"81":0},"opds_flt_apart_tot_psns":{"0":87,"1":45,"2":1616,"3":6188,"4":392,"5":895,"6":8778,"7":5,"8":25842,"9":5412,"10":52,"11":69,"12":558,"13":1888,"14":81,"15":62,"16":20,"17":14669,"18":247,"19":1918,"20":12,"21":28877,"22":139,"23":17,"24":700,"25":10949,"26":3985,"27":89,"28":128,"29":32,"30":3843,"31":494,"32":4723,"33":53,"34":15831,"35":2492,"36":2353,"37":3,"38":124,"39":9326,"40":34,"41":14593,"42":2925,"43":105877,"44":782,"45":1683,"46":69,"47":48,"48":20716,"49":18410,"50":108,"51":20560,"52":3019,"53":19,"54":14,"55":13,"56":1075,"57":196,"58":52818,"59":3,"60":38,"61":137,"62":115,"63":40160,"64":16,"65":129,"66":653,"67":17,"68":6,"69":874,"70":895,"71":21,"72":12526,"73":4065,"74":401,"75":3710,"76":33517,"77":494,"78":21,"79":170,"80":0,"81":0},"opds_flt_apt_att_house_ps":{"0":11,"1":4,"2":29,"3":56,"4":5,"5":16,"6":37,"7":0,"8":40,"9":128,"10":0,"11":3,"12":37,"13":108,"14":0,"15":11,"16":0,"17":82,"18":8,"19":95,"20":0,"21":87,"22":12,"23":10,"24":19,"25":87,"26":37,"27":7,"28":12,"29":0,"30":31,"31":0,"32":81,"33":6,"34":41,"35":131,"36":12,"37":0,"38":25,"39":53,"40":6,"41":93,"42":62,"43":14,"44":52,"45":4,"46":25,"47":6,"48":66,"49":31,"50":30,"51":112,"52":89,"53":8,"54":0,"55":8,"56":22,"57":0,"58":94,"59":0,"60":4,"61":4,"62":6,"63":23,"64":0,"65":4,"66":3,"67":0,"68":3,"69":4,"70":20,"71":0,"72":119,"73":66,"74":8,"75":46,"76":60,"77":99,"78":3,"79":0,"80":0,"81":0},"opds_other_dwelling_tot_psns":{"0":68,"1":61,"2":222,"3":73,"4":257,"5":441,"6":459,"7":69,"8":436,"9":181,"10":51,"11":322,"12":172,"13":174,"14":160,"15":143,"16":50,"17":698,"18":461,"19":441,"20":81,"21":416,"22":118,"23":26,"24":277,"25":292,"26":884,"27":756,"28":126,"29":29,"30":137,"31":32,"32":147,"33":132,"34":421,"35":92,"36":196,"37":106,"38":220,"39":32,"40":51,"41":410,"42":44,"43":263,"44":175,"45":510,"46":78,"47":291,"48":68,"49":299,"50":110,"51":670,"52":639,"53":71,"54":34,"55":186,"56":18,"57":64,"58":920,"59":53,"60":25,"61":126,"62":66,"63":561,"64":101,"65":86,"66":276,"67":38,"68":99,"69":194,"70":226,"71":14,"72":69,"73":57,"74":96,"75":134,"76":732,"77":311,"78":63,"79":0,"80":0,"81":0},"opds_sd_r_t_h_th_1_sty_psns":{"0":376,"1":410,"2":7964,"3":7576,"4":938,"5":1289,"6":8563,"7":816,"8":16545,"9":11779,"10":160,"11":1759,"12":3898,"13":16404,"14":506,"15":802,"16":323,"17":16973,"18":1787,"19":11283,"20":261,"21":17602,"22":573,"23":175,"24":4408,"25":12963,"26":14036,"27":3531,"28":220,"29":97,"30":6932,"31":463,"32":8895,"33":343,"34":18160,"35":9207,"36":2234,"37":116,"38":1550,"39":5824,"40":201,"41":5029,"42":4674,"43":5055,"44":6182,"45":2577,"46":1561,"47":1246,"48":11980,"49":8813,"50":1112,"51":14967,"52":8454,"53":315,"54":238,"55":147,"56":530,"57":204,"58":13894,"59":37,"60":102,"61":421,"62":417,"63":9883,"64":252,"65":614,"66":617,"67":50,"68":1499,"69":1905,"70":818,"71":28,"72":19793,"73":9911,"74":1985,"75":14553,"76":19526,"77":3263,"78":65,"79":10,"80":0,"81":0},"opds_sd_r_t_h_th_2_m_sty_psns":{"0":27,"1":18,"2":1016,"3":8215,"4":612,"5":69,"6":9825,"7":8,"8":12163,"9":10677,"10":6,"11":31,"12":1855,"13":7732,"14":29,"15":86,"16":22,"17":17020,"18":238,"19":4552,"20":6,"21":15015,"22":59,"23":5,"24":861,"25":9752,"26":4183,"27":199,"28":63,"29":7,"30":11766,"31":11,"32":7382,"33":4,"34":15057,"35":6847,"36":290,"37":0,"38":121,"39":12440,"40":6,"41":13935,"42":2755,"43":13910,"44":3565,"45":136,"46":244,"47":67,"48":14947,"49":14330,"50":251,"51":26332,"52":3662,"53":31,"54":50,"55":6,"56":951,"57":4,"58":13130,"59":7,"60":40,"61":56,"62":11,"63":9697,"64":7,"65":822,"66":40,"67":0,"68":92,"69":633,"70":132,"71":6,"72":13777,"73":9178,"74":165,"75":6609,"76":15608,"77":1652,"78":0,"79":3,"80":0,"81":0},"opds_sd_r_t_h_th_tot_psns":{"0":406,"1":430,"2":8986,"3":15790,"4":1552,"5":1359,"6":18390,"7":820,"8":28713,"9":22458,"10":171,"11":1793,"12":5750,"13":24135,"14":538,"15":888,"16":344,"17":33991,"18":2021,"19":15832,"20":262,"21":32619,"22":631,"23":180,"24":5266,"25":22719,"26":18224,"27":3730,"28":280,"29":101,"30":18699,"31":479,"32":16278,"33":344,"34":33216,"35":16053,"36":2524,"37":118,"38":1670,"39":18270,"40":205,"41":18961,"42":7428,"43":18966,"44":9747,"45":2714,"46":1805,"47":1316,"48":26924,"49":23138,"50":1370,"51":41300,"52":12115,"53":343,"54":289,"55":156,"56":1479,"57":207,"58":27020,"59":45,"60":144,"61":474,"62":430,"63":19578,"64":254,"65":1435,"66":652,"67":50,"68":1592,"69":2545,"70":950,"71":36,"72":33575,"73":19088,"74":2154,"75":21162,"76":35133,"77":4914,"78":65,"79":9,"80":0,"81":0},"opds_separate_house_persons":{"0":11228,"1":9581,"2":94623,"3":97923,"4":34440,"5":50524,"6":67756,"7":12163,"8":103222,"9":155063,"10":5265,"11":33184,"12":105478,"13":322162,"14":11475,"15":19238,"16":14209,"17":90629,"18":40880,"19":112332,"20":9251,"21":79790,"22":17308,"23":23330,"24":105983,"25":114661,"26":227414,"27":57582,"28":14297,"29":5032,"30":63494,"31":17892,"32":210616,"33":15191,"34":101411,"35":134038,"36":65281,"37":6542,"38":45966,"39":91832,"40":8378,"41":45673,"42":99067,"43":4057,"44":157640,"45":46724,"46":43867,"47":25838,"48":131106,"49":73499,"50":33717,"51":99137,"52":138457,"53":17708,"54":15587,"55":13169,"56":57580,"57":10186,"58":11599,"59":6499,"60":2711,"61":27111,"62":14602,"63":36207,"64":9851,"65":32666,"66":17516,"67":5284,"68":25718,"69":28983,"70":38336,"71":3501,"72":114409,"73":196320,"74":37181,"75":252007,"76":13191,"77":142237,"78":5727,"79":224,"80":0,"81":0},"opds_tot_opds_persons":{"0":11843,"1":10142,"2":105593,"3":120069,"4":36724,"5":53280,"6":95455,"7":13081,"8":158345,"9":183245,"10":5548,"11":35421,"12":112040,"13":348590,"14":12277,"15":20372,"16":14649,"17":140068,"18":43748,"19":130605,"20":9644,"21":141814,"22":18225,"23":23561,"24":112436,"25":148754,"26":250762,"27":62266,"28":14872,"29":5203,"30":86254,"31":18915,"32":231940,"33":15778,"34":150965,"35":152738,"36":70433,"37":6784,"38":48020,"39":119556,"40":8695,"41":79712,"42":109547,"43":129569,"44":168498,"45":51737,"46":45870,"47":27530,"48":178915,"49":115416,"50":35332,"51":161832,"52":154331,"53":18162,"54":15943,"55":13559,"56":60179,"57":10673,"58":92482,"59":6609,"60":2924,"61":27871,"62":15234,"63":96623,"64":10228,"65":34368,"66":19195,"67":5395,"68":27444,"69":32638,"70":40484,"71":3580,"72":160678,"73":219623,"74":39877,"75":277149,"76":82652,"77":148107,"78":5881,"79":434,"80":0,"81":0},"total_pds_persons":{"0":11843,"1":10142,"2":105593,"3":120069,"4":36724,"5":53280,"6":95455,"7":13081,"8":158345,"9":183245,"10":5548,"11":35421,"12":112040,"13":348590,"14":12277,"15":20372,"16":14649,"17":140068,"18":43748,"19":130605,"20":9644,"21":141814,"22":18225,"23":23561,"24":112436,"25":148754,"26":250762,"27":62266,"28":14872,"29":5203,"30":86254,"31":18915,"32":231940,"33":15778,"34":150965,"35":152738,"36":70433,"37":6784,"38":48020,"39":119556,"40":8695,"41":79712,"42":109547,"43":129569,"44":168498,"45":51737,"46":45870,"47":27530,"48":178915,"49":115416,"50":35332,"51":161832,"52":154331,"53":18162,"54":15943,"55":13559,"56":60179,"57":10673,"58":92482,"59":6609,"60":2924,"61":27871,"62":15234,"63":96623,"64":10228,"65":34368,"66":19195,"67":5395,"68":27444,"69":32638,"70":40484,"71":3580,"72":160678,"73":219623,"74":39877,"75":277149,"76":82652,"77":148107,"78":5881,"79":434,"80":0,"81":0},"total_total":{"0":5222,"1":4541,"2":44654,"3":47666,"4":16662,"5":21441,"6":37936,"7":6033,"8":62715,"9":63949,"10":2555,"11":15079,"12":39607,"13":113365,"14":5774,"15":8848,"16":6343,"17":59488,"18":19771,"19":53019,"20":4359,"21":57971,"22":8190,"23":8287,"24":46599,"25":51670,"26":103508,"27":24795,"28":6846,"29":2367,"30":34663,"31":8216,"32":75740,"33":6615,"34":60940,"35":57422,"36":30610,"37":3049,"38":18060,"39":44574,"40":3830,"41":33695,"42":43006,"43":70760,"44":54907,"45":21283,"46":17140,"47":11917,"48":66979,"49":47814,"50":13500,"51":67871,"52":64650,"53":8396,"54":6439,"55":6006,"56":20912,"57":4903,"58":48731,"59":2976,"60":1441,"61":12001,"62":6844,"63":47229,"64":4734,"65":13270,"66":7718,"67":2406,"68":11847,"69":13993,"70":17538,"71":1643,"72":63094,"73":75971,"74":16372,"75":89823,"76":40646,"77":55842,"78":2740,"79":156,"80":0,"81":0},"unoccupied_pds_psns":{"0":null,"1":null,"2":null,"3":null,"4":null,"5":null,"6":null,"7":null,"8":null,"9":null,"10":null,"11":null,"12":null,"13":null,"14":null,"15":null,"16":null,"17":null,"18":null,"19":null,"20":null,"21":null,"22":null,"23":null,"24":null,"25":null,"26":null,"27":null,"28":null,"29":null,"30":null,"31":null,"32":null,"33":null,"34":null,"35":null,"36":null,"37":null,"38":null,"39":null,"40":null,"41":null,"42":null,"43":null,"44":null,"45":null,"46":null,"47":null,"48":null,"49":null,"50":null,"51":null,"52":null,"53":null,"54":null,"55":null,"56":null,"57":null,"58":null,"59":null,"60":null,"61":null,"62":null,"63":null,"64":null,"65":null,"66":null,"67":null,"68":null,"69":null,"70":null,"71":null,"72":null,"73":null,"74":null,"75":null,"76":null,"77":null,"78":null,"79":null,"80":null,"81":null},"Single Storey Total People":{"0":11615,"1":9995,"2":102616,"3":105555,"4":35383,"5":51829,"6":76356,"7":12979,"8":119807,"9":166970,"10":5425,"11":34946,"12":109413,"13":338674,"14":11981,"15":20051,"16":14532,"17":107684,"18":42675,"19":123710,"20":9512,"21":97479,"22":17893,"23":23515,"24":110410,"25":127711,"26":241487,"27":61120,"28":14529,"29":5129,"30":70457,"31":18355,"32":219592,"33":15540,"34":119612,"35":143376,"36":67527,"37":6658,"38":47541,"39":97709,"40":8585,"41":50795,"42":103803,"43":9126,"44":163874,"45":49305,"46":45453,"47":27090,"48":143152,"49":82343,"50":34859,"51":114216,"52":147000,"53":18031,"54":15825,"55":13324,"56":58132,"57":10390,"58":25587,"59":6536,"60":2817,"61":27536,"62":15025,"63":46113,"64":10103,"65":33284,"66":18136,"67":5334,"68":27220,"69":30892,"70":39174,"71":3529,"72":134321,"73":206297,"74":39174,"75":266606,"76":32777,"77":145599,"78":5795,"79":234,"80":0,"81":0},"Two Storey Total":{"0":101,"1":49,"2":2478,"3":11590,"4":941,"5":946,"6":13446,"7":14,"8":21633,"9":15359,"10":58,"11":91,"12":2335,"13":9422,"14":101,"15":130,"16":42,"17":23950,"18":470,"19":5887,"20":18,"21":32305,"22":176,"23":11,"24":1498,"25":18966,"26":7182,"27":261,"28":178,"29":39,"30":14291,"31":505,"32":11736,"33":53,"34":26590,"35":7954,"36":2640,"37":3,"38":191,"39":15263,"40":33,"41":19035,"42":3545,"43":17311,"44":3913,"45":1792,"46":284,"47":106,"48":28558,"49":20534,"50":301,"51":34139,"52":6316,"53":46,"54":67,"55":15,"56":1905,"57":198,"58":23942,"59":10,"60":79,"61":185,"62":119,"63":19533,"64":23,"65":883,"66":680,"67":17,"68":100,"69":1434,"70":954,"71":27,"72":17418,"73":11714,"74":563,"75":9465,"76":20662,"77":2032,"78":20,"79":60,"80":0,"81":0},"Two Storey Total People":{"0":101,"1":49,"2":2478,"3":11590,"4":941,"5":946,"6":13446,"7":14,"8":21633,"9":15359,"10":58,"11":91,"12":2335,"13":9422,"14":101,"15":130,"16":42,"17":23950,"18":470,"19":5887,"20":18,"21":32305,"22":176,"23":11,"24":1498,"25":18966,"26":7182,"27":261,"28":178,"29":39,"30":14291,"31":505,"32":11736,"33":53,"34":26590,"35":7954,"36":2640,"37":3,"38":191,"39":15263,"40":33,"41":19035,"42":3545,"43":17311,"44":3913,"45":1792,"46":284,"47":106,"48":28558,"49":20534,"50":301,"51":34139,"52":6316,"53":46,"54":67,"55":15,"56":1905,"57":198,"58":23942,"59":10,"60":79,"61":185,"62":119,"63":19533,"64":23,"65":883,"66":680,"67":17,"68":100,"69":1434,"70":954,"71":27,"72":17418,"73":11714,"74":563,"75":9465,"76":20662,"77":2032,"78":20,"79":60,"80":0,"81":0},"Three Storey Total People":{"0":74,"1":38,"2":1591,"3":4165,"4":359,"5":877,"6":5921,"7":6,"8":17667,"9":4903,"10":52,"11":60,"12":509,"13":1777,"14":72,"15":48,"16":20,"17":9252,"18":244,"19":1617,"20":12,"21":22378,"22":124,"23":6,"24":681,"25":10071,"26":3261,"27":78,"28":115,"29":32,"30":2958,"31":494,"32":4358,"33":49,"34":13146,"35":1705,"36":2350,"37":3,"38":100,"39":4053,"40":27,"41":8162,"42":1787,"43":10901,"44":473,"45":1679,"46":40,"47":39,"48":15474,"49":10486,"50":50,"51":10670,"52":2859,"53":15,"54":17,"55":9,"56":1005,"57":194,"58":28544,"59":3,"60":39,"61":129,"62":108,"63":23178,"64":16,"65":113,"66":650,"67":17,"68":8,"69":874,"70":871,"71":21,"72":6135,"73":3194,"74":398,"75":2897,"76":12386,"77":395,"78":20,"79":107,"80":0,"81":0},"Four Storey and Above Total":{"0":0,"1":0,"2":5,"3":1964,"4":22,"5":0,"6":2820,"7":0,"8":8131,"9":382,"10":0,"11":0,"12":13,"13":0,"14":0,"15":0,"16":0,"17":5335,"18":0,"19":208,"20":0,"21":6411,"22":0,"23":0,"24":0,"25":799,"26":679,"27":3,"28":0,"29":0,"30":855,"31":0,"32":286,"33":3,"34":2646,"35":649,"36":0,"37":0,"38":0,"39":5214,"40":0,"41":6341,"42":1075,"43":94967,"44":255,"45":0,"46":0,"47":0,"48":5171,"49":7903,"50":26,"51":9788,"52":70,"53":0,"54":0,"55":0,"56":44,"57":0,"58":24181,"59":0,"60":0,"61":0,"62":0,"63":16950,"64":0,"65":16,"66":3,"67":0,"68":0,"69":0,"70":6,"71":0,"72":6278,"73":812,"74":0,"75":765,"76":21072,"77":0,"78":0,"79":56,"80":0,"81":0}}